<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <key>teamID</key>
    <string>${MACOS_NOTARIZATION_TEAM_ID}</string>
    <string>development</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.Satellite.Uplink</key>
        <string>App</string>
    </dict>
</dict>
</plist>

